/* You can add global styles to this file, and also import other style files */
.center-div{
    position:absolute; /*Research absolute*/
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.back-colour{
    background-color: #f0f0f0;
}
.image-corner{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
