<div style="width:100vw; height:100vh;" class="back-colour">
    <div class="center-div shadow-sm bg-light" style="max-width: 500px; border-radius: 3%;" >
        
        <img class="image-corner" src="https://image.freepik.com/free-photo/beautiful-aerial-view-maldives-tropical-beach-travel-vacation-concept_87394-3807.jpg"
        height="250px"  alt="">
        <div class="container" >
            <div class="px-5">
                <div class="d-flex mt-5 mb-4 justify-content-between">
                    <h3>Sign In</h3>
                    <div class="d-flex mt-2">
                    <i class="fa fa-facebook text-muted mr-3"></i>
                    <i class="fa fa-twitter text-muted"></i>
                    </div>
                </div>
                
                <form action="" class="mt-3">
                    <input class="form-control mb-3" type="text" placeholder="Username">
                    <div class="form-control d-flex justify-content-between">
                        <input style="border: none;" type="password" placeholder="Password">
                        <i class="fa fa-eye mt-1 text-muted"></i>
                    </div>
                    <button class="btn btn-success mt-3" style="width:100%">Sign In</button>
                </form>
                <div class="d-flex justify-content-between mt-4">
                    <small class="text-success"><input type="checkbox"> Remember me</small>

                    <small routerLink="">Forgot Password?</small>
                </div>
                <div class="text-center mt-3 mb-5">
                    <small class="font-weight-bold text-center text-muted">Not a member?<span class="text-success" > Sign Up</span></small>
                </div>
              </div>
            
        </div>
        
        </div>
</div>
